body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes up at least the height of the viewport */
  }
  
  #root {
    flex-grow: 1; /* Allow the content to grow to fill available space */
  }
  